.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
    height: 100px;
    width: 100%;
    background-color: #AB2A19;

}

.arrow-logo {
 
  float: left;
  position: relative;
  top: 1rem;
  left: 1rem;
  /* border: 4px solid yellow; */
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.shelf{
  background-color: #AB2A19;
  color: white;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 32px;
  width:40rem;
  height: 100px;
  margin: 2rem auto;
  border-radius: 15px;
  
}

.shelf p {
  /* border: 2px solid gray; */
  width: 25rem;
  height: 2rem;
  position: relative;
  top: 1.5rem;
  
}

@media(max-width: 1000px){
  .shelf{
    width: 100%;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
