
.socialmedia {
    border: 1px solid #ff8000;
    width: 70%;
    margin: 0 auto;
    /* height temp till get content */
    height: 10rem;
}
.galleryLink {
    width: 100%;
    height: 10rem;
    /* border-top: 1px solid yellow; */
    /* border-bottom: 1px solid yellow; */
    display: flex;
    flex-direction: row;
    justify-content: center;


}

.pod {
    border: 1px solid #ff8000;
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 4rem;
    margin-right: 4rem;
    
}

.pod img {
    border: 1px solid #ff8000;
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    
}

.text-cont-outer{
    width: 100%;
    /* border: 2px solid yellow; */
}
.text-content {
    /* border: 1px solid #ff8000; */
    border-radius: 20px;
    width: 70%;
    margin: 0 auto;
    /* height: 40rem; */
}

.text-content h2 {
    padding: 2rem;
}

footer {
    height: 7rem;
    background: black;
    text-align: center;
}