
.hero {
    background-image: url('../../images/image10wide.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height:40rem;
}

.socialmedia {
    border: 1px solid #ff8000;
    width: 70%;
    margin: 0 auto;
    /* height temp till get content */
    height: 10rem;
}
.galleryLink {
    width: 100%;
    height: 10rem;
    /* border-top: 1px solid yellow; */
    /* border-bottom: 1px solid yellow; */
    display: flex;
    flex-direction: row;
    justify-content: center;


}

.pod {
    /* border: 1px solid #ff8000; */
    /* border-radius: 50%; */
    /* height: 8rem; */
    /* width: 8rem; */
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 4rem;
    margin-right: 4rem;
    
}

.couragePic {
    
}

.pod img {
    /* border: 1px solid #ff8000; */
    border-radius: 50%;
    height: 8.5rem;
    width: 8.5rem;
    padding:0;
    margin:0;
}

.bottomPodWords {
    /* border: 2px solid red; */
    margin: 0;
    position: relative;
    left: 2rem;
    font-size: 1.5rem;
}
.love {
    left: 2.3rem;
}
.passion{
    left: 1.8rem;
}

.text-cont-outer{
    width: 100%;
    /* border: 2px solid yellow; */
}
.text-content {
    /* border: 1px solid #ff8000; */
    border-radius: 20px;
    width: 70%;
    margin: 0 auto;
    /* height: 40rem; */
}

.text-content h2 {
    padding: 2rem;
}

footer {
    height: 7rem;
    /* background: #D7DBDD; */
    text-align: center;
    background: #8de9f2;
    background:-webkit-linear-gradient(top, #8de9f2, #ffffff);
    background: -moz-linear-gradient(top, #8de9f2, #ffffff);
    background: -ms-linear-gradient(top, #8de9f2, #ffffff);
    background: -o-linear-gradient(top, #8de9f2, #ffffff);
    background: linear-gradient(to bottom, #8de9f2, #ffffff);
}

@media (max-width: 600px) {
    .i-1{
        display: none;
    }

    .i-3 {
        display: none;
    }
    .hero{
        background-image: url('../../images/image10wide.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height:15rem;
    }
}