
.hardcodedContactInfo {
    /* border: 2px solid red; */
    width: 60%;
    margin: 0 auto;
    /* padding-bottom: 3rem; */
    position: relative;
    top: 1rem;
    text-align: left;

}

@media(max-width: 800px){
    .hardcodedContactInfo{
        width: 90%;
    }
}