.central {
    
}

.contactForm{
    /* border: 2px solid red; */
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.inputField {
    /* border: 2px solid red; */
    margin: 0.3rem auto;
    display: block;
    width: 60%;
    height: 1.5rem;
    /* margin: 0.5rem; */
    background-color: #EDEDED;
}
.messageBox{
    /* border: 2px solid red; */
    width: 59.7%;
    height: 6rem;
}
.sendButtonParent{
    /* border: 2px solid purple; */
    width: 60%;
    margin: 0 auto;
}
.sendButton {
    /* border: 2px solid green; */
    position: relative;
    /* left: 63%; */
    width: 16rem;
    padding: 0.5rem;
    font-size: 18px;
}
@media(max-width: 1100px){
    .sendButton{
        /* border: 2px solid blue; */
        width: 10rem;
        left: 78%
    }
}
@media(max-width: 700px){
.sendButton{
 /* border: 2px solid red; */
 width: 6rem;
 /* left: 4% */
}
.contactForm{
    /* border: 2px solid red; */
    width: 100%;
}
.inputField{
    width: 90%;
}
.messageBox{
    height: 8rem;
}
}