@font-face {
    font-family: KGBytheGraceofGodimport;
    src: url('../../KGBytheGraceofGod.ttf');
}

.navParent{
    width: 100%;
    top: 0rem;
    padding: 5px 0 5px 0;
    z-index: 1;
    text-decoration: none;
    /* border: 2px solid red; */
}

header {
    text-align: center;
    background: #8de9f2;
background:-webkit-linear-gradient(bottom, #8de9f2, #ffffff);
background: -moz-linear-gradient(bottom, #8de9f2, #ffffff);
background: -ms-linear-gradient(bottom, #8de9f2, #ffffff);
background: -o-linear-gradient(bottom, #8de9f2, #ffffff);
background: linear-gradient(to top, #8de9f2, #ffffff);
}
header h1 {
    padding-top: 1.5rem;
    margin: 0;
    /* color: #fff; */
    color: #7A7A7A;
    text-shadow:
		-1px -1px 0 #fff,
		1px -1px 0 #fff,
		-1px 1px 0 #fff,
		1px 1px 0 #fff;
    /* color: #7A7A7A; */
    font-family: KGBytheGraceofGodimport;
    font-size: 102px;
    /* font-family: 'Merienda', cursive; */
    /* text-shadow: #fff 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 0px 20px, red 0 0px 20px; */
    
}

ul a {
    text-decoration: none;
}
#navUl {
    width: 80%;
    margin: 0 auto;
    display: flex;
    padding-right: 1rem;
    flex-direction: row;
    height: 3rem;
    justify-content: space-around;
    list-style: none;
    /* border: 5px solid blue; */
    text-decoration: none;
    
}

div ul .lin {
    border-radius: 3px;
    /* border: 1px solid grey; */
    padding: 0.4rem;
    
    width: 9rem;
    text-decoration: none;
    /* font-family: 'News Cycle', sans-serif; */
    font-family: KGBytheGraceofGodimport;
    color: #7A7A7A;
    
    
}

hr {
    width: 80%;
}


.active {
    background-color: #D6D6D6;
    /* background-color: #4399F5; */
    border-radius: 3px;
    height: 2rem;
    color: #7A7A7A;
  }

@media (max-width: 600px) {
    #navUl  {
        /* border: 2px solid red; */
        width: 70%; 
        position: relative;
        padding-right: 0;
        padding-left: 0;
        /* right: 1rem; */
        /* top: -1.5rem; */
    }
    div ul .lin{
        /* border: 2px solid green; */
        padding-right: 0.5rem;
        padding-left: 0.5rem;
       
        width: 3rem;
    }
    #contact {
        padding-right: 1rem;
        margin-right: 0.5rem;
    }
    header h1 {
        font-size: 40px;
    }

}