.navParent{
    
    width: 100%;
    background-color: black;
    position: sticky;
    top: 0rem;
    z-index: 1;
}

header {
    text-align: center;
}


#navUl {
    display: flex;
    flex-direction: row;
    height: 3rem;
    justify-content: space-around;
    list-style: none;
    /* border: 5px solid blue; */
    background-color: black;
    
}

div ul .lin {
    border-radius: 7px;
    border: 1px solid grey;
    padding: 6px;
    text-decoration: none;
    font-family: 'News Cycle', sans-serif;
    color: white;
    
}

.active {
    background-color: green;
  }

@media (max-width: 600px) {
    .navUl  {
        position: relative;
        right: 1rem;
        top: -1.5rem;
    }

}