.body {
    background: #410700;
    color: #F57403;
    
}
header{
    height: 7rem;
    background: #721900;
    text-align: center;
}

header h1 {
    padding-top: 1.5rem;
    color: #fff;
    font-family: 'Merienda', cursive;
    text-shadow: #fff 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 0px 20px, red 0 0px 20px;
    
}

.hero {
    border: 1px solid #ff8000;
    width: 70%;
    height: 30rem;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 2rem;
}
img {
    height: 20rem;
    width: 100%;
    margin: 0 auto;
}

.text-cont-outer{
    width: 100%;
    /* border: 2px solid yellow; */
}
.text-content {
    border: 1px solid #ff8000;
    border-radius: 20px;
    width: 70%;
    margin: 0 auto;
    
}