.body {
    /* background: #7A7A7A; */
    /* background: #C8C7CF; */
    background: #8de9f2;
    color: #7A7A7A;
    
}

/* header h1 {
    padding-top: 1.5rem;
    color: #fff;
    font-family: 'Merienda', cursive;
    text-shadow: #fff 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 0px 20px, red 0 0px 20px;
    
} */


/* .hero {
    /* border: 1px solid #ff8000; */
    /* width: 100%;
    height: 33rem;
    text-align: center;zb
    margin: 3rem auto;
    position: relative;
    top: 2rem; */
/* }  */
img {
    /* height: 20rem; */
    width: 100%;
    margin: 0 auto;
}

/* @media (max-width: 600px) {
    .hero {
        position: relative;
        top: -1rem;
        width: 99%;
        height: 10rem;
    }
}
 */
