.mainContent img {
    height: 40rem;

}

.mainContent h2 {
    font-size: 42px;
}

.newBlogDivAdmin {
    /* border: 2px solid red; */
    padding: 0;
    margin: 0;
}

.text-content {
    font-family: 'Glegoo', serif;
}


.asideAD{
    position: relative;
    top: 0;
    left: 35%;
    /* margin: 0 auto; */
}
.title{
    /* border: 2px solid red; */
    margin: 0;
    font-size: 62px;
}
.dividerHr{
    width: 100%;
    margin-bottom: 4rem;
    margin-top: 4rem;
}
@media (max-width: 1000px) {
    .text-content {
        /* border: 2px solid yellow; */
        width: 100%;
    }
    .mainContent img {
        width: 100%;
        height: 20rem;

    }
}