.mainContent img {
    height: 30rem;
}

.mainContent h2 {
    font-size: 42px;
}

@media (max-width: 600px) {
    .text-content {
        /* border: 2px solid yellow; */
        width: 100%;
    }
    .mainContent img {
        width: 100%;
        height: 20rem;
    }
}