.mainContent img {
    height: 40rem;

}

.mainContent h2 {
    font-size: 42px;
}

.newBlogDivAdmin {
    border: 2px solid red;
    padding: 0;
    margin: 0;
}

.text-content {
    font-family: 'Glegoo', serif;
}
.foreignKey h2{
    text-decoration: underline;
}
.foreignKey .userInfoDiv {
    position: relative;
    left: 3rem;
}

.random-drink-div{
    color: white;
    width: 250px;
    border: 2px solid white;
}

.random-drink-div img {
    height: 15.5rem;
    width: 15.5rem;

}

.asideAD{
    position: relative;
    top: 0;
    left: 35%;
    /* margin: 0 auto; */
}
@media (max-width: 1000px) {
    .text-content {
        /* border: 2px solid yellow; */
        width: 100%;
    }
    .mainContent img {
        width: 100%;
        height: 20rem;

    }
}