.newBloginputContainer{
    /* border: 2px solid lightgreen; */
    margin: 0 auto;
    height: 25rem;
    width: 70%;

}

/* .pictureInput{
    position: relative;
    left: 0.3rem;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
} */

.alert {
    padding: 20px;
    background-color: blue; /* Red */
    color: white;
    /* margin-bottom: 15px; */
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.newBlogdragImage {
    border: 2px solid grey;
    position: absolute;
    left: 24%;
    top: 7rem;
    font-size: 18px;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

.newBlogusernameInput{
    position: relative;
    float: right;
    width:  70.3%;
    display: block;
}

.newBlogdateInput{
    position: relative;
    float: right;
    width:  70.3%;
    display: block;
}

.newBlogtitleInput{
    position: relative;
    top: 0rem;
    float: right;
    height: 1.4rem;
    width: 70.3%;
}

.newBlogblogContent{
    position: relative;
    display: block;
    left: 29%;
    /* float: right; */
    top: 0rem;
    /* margin: 0 auto; */
    height: 40%;
    box-sizing: border-box;

	width: 71%;
    resize: both;
    overflow: auto;
}
.newBlogsubmitButton {
    /* border: 2px solid yellow; */
    border-radius: 7px;
    /* padding: 1rem; */
    position: relative;
    top:17%;
    left: 29%;
    width: 12rem;
    height: 2rem;
    font-size: 2rem;
}
.input{
    padding: 0;
}
.newBlogpostForm {
    /* border: 5px solid red; */
    height: 16rem;
    margin-left: 10%;
    position: relative;
}
.newBlogdropZoneDiv {
    border: 2px solid blue;
    display: inline-block;
    position: absolute;
    /* top: 1em; */
    /* left: 3rem; */
    width: 28%;
    height: 96%;
}

.newBloguploadedImage {
    /* border: 2px solid green; */
    height: 100%;
    
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px){
    .newBlogdropZoneDiv{
        position: relative;
        width: 100%;
        
    }
    .newBlogpostForm {
        border: 2px solid green;
        margin-left: 0;
    }
    .newBlogsubmitButton{
        /* border: 2px solid red; */
        border-radius: 7px;
        top:0rem;
        left: 40%;
        width: 20rem;
        height: 4rem;
    }
    .newBlogusernameInput{
        width: 100.3%;
        height: 2rem;
    }
    
    .newBlogdateInput{
        width: 100.3%;
        height: 2rem;
    }
    
    .newBlogtitleInput{
        width: 100.3%;
        height: 2rem;
    }
    
    .newBlogblogContent{
        width:100%;
        height: 20rem;
    }
    .newBlogdragImage{
        left: 38%;
    }
}